@import "../../utils/variables.scss";

.input_wrapper {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media screen and (max-width: $phone + px) {
    max-width: 400px;
  }

  @media screen and (max-width: $smallPhone + px) {
    margin-bottom: 16px;
  }

  .input_title {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: $killarney;
    padding-left: 40px;
    margin-bottom: 10px;

    @media screen and (max-width: $tablet + px) {
      margin-bottom: 8px;
    }

    &:before {
      position: absolute;
      content: "";
      top: 3px;
      left: 14px;
      width: 16px;
      height: 16px;
      background: url("../../assets/images/panda.svg") center no-repeat;
    }
  }

  input {
    max-width: 300px;
    width: 100%;
    height: 34px;
    border-radius: 100px;
    border: 1px solid rgba(53, 100, 74, 0.15);
    outline: none;
    padding-left: 15px;

    @media screen and (max-width: $phone + px) {
      max-width: 400px;
    }

    &::placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      color: rgba(150, 150, 150, 0.5);
    }
  }
}
