@import "../../utils/variables.scss";

.drop_down_list {
  position: relative;

  .checked_wrapper {
    display: flex;
    flex-direction: column;

    .title {
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      color: #35644a;
      padding-left: 40px;
      margin-bottom: 10px;

      &:before {
        position: absolute;
        content: "";
        top: 3px;
        left: 14px;
        width: 16px;
        height: 16px;
        background: url("../../assets/images/panda.svg") center no-repeat;
      }
    }

    .checked_item {
      width: 300px;
      height: 34px;
      padding-left: 15px;
      border: 1px solid rgba(53, 100, 74, 0.15);
      border-radius: 100px;
      cursor: pointer;
    }
  }

  .list {
    position: absolute;
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: $white;
    box-shadow: 0px 4px 10px rgba(153, 150, 150, 0.25);
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;

    &.show {
      visibility: visible;
      opacity: 1;
      transition: all 0.4s ease-in;
    }

    li {
      display: flex;
      align-items: center;
      height: 44px;
      margin-bottom: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
    }
  }
}
