@import "../../utils/variables.scss";

.drop_down_list {
  position: relative;
  width: 100%;
  max-width: 300px;

  @media screen and (max-width: $phone + px) {
    max-width: 400px;
    margin-bottom: 8px;
  }

  .checked_wrapper {
    display: flex;
    flex-direction: column;

    .title {
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      color: $killarney;
      padding-left: 40px;
      margin-bottom: 10px;

      &:before {
        position: absolute;
        content: "";
        top: 3px;
        left: 14px;
        width: 16px;
        height: 16px;
        background: url("../../assets/images/panda.svg") center no-repeat;
      }
    }

    .checked_item {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 300px;
      width: 100%;
      height: 34px;
      padding-left: 15px;
      border: 1px solid rgba(53, 100, 74, 0.15);
      border-radius: 100px;
      cursor: pointer;
      font-family: "Helvetica Now Display";
      background: $white;

      @media screen and (max-width: $phone + px) {
        max-width: 400px;
      }

      @media screen and (max-width: $tablet + px) {
        font-size: 14px;
        color: $doveGray;
      }

      &:after {
        position: absolute;
        content: "";
        top: 9px;
        right: 9px;
        width: 16px;
        height: 16px;
        background: url("../../assets/images/drop_down_list.svg") center
          no-repeat;
      }
    }
  }

  .list {
    width: 100%;
    position: absolute;
    top: 50px;
    height: 160px;
    overflow: auto;
    max-width: 300px;
    list-style: none;
    padding: 10px 20px;
    background: $white;
    box-shadow: 0px 4px 10px rgba(153, 150, 150, 0.25);
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;

    @media screen and (max-width: $tablet + px) {
      top: -165px;
    }

    @media screen and (max-width: $phone + px) {
      max-width: 400px;
    }

    &.show {
      visibility: visible;
      opacity: 1;
      transition: all 0.4s ease-in;
    }

    li {
      width: 100%;
      display: flex;
      align-items: center;
      height: 44px;
      width: 100%;
      margin-bottom: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;

      @media screen and (max-width: $tablet + px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
