.faq {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 94px;
    text-align: center;
    margin-bottom: 73px;
  }

  .questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 780px;
  }

  .footer_bamboo {
    position: absolute;
    z-index: -1;
    top: -75px;
  }
}
