@import "../../utils/variables.scss";

.faq {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 94px;
    text-align: center;
    margin-bottom: 73px;

    @media screen and (max-width: $tablet + px) {
      font-size: 24px;
      line-height: 35px;
      margin-bottom: 33px;
    }
  }

  .questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    padding: 0 16px;

    @media screen and (max-width: $tablet + px) {
      padding: 0 16px;
      max-width: 700px;
    }
  }

  .footer_bamboo {
    position: absolute;
    z-index: -1;
    top: -75px;

    @media screen and (max-width: $tablet + px) {
      visibility: hidden;
    }
  }
}
