@import "../../utils//variables.scss";

button {
  width: 250px;
  height: 48px;
  white-space: nowrap;
  background-color: $killarney;
  color: $white;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;

  &.white {
    background-color: $white;
    color: $killarney;
  }
}
