@import "../../utils//variables.scss";

button {
  display: block;
  width: 250px;
  height: 48px;
  white-space: nowrap;
  background-color: $killarney;
  color: $white;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;

  @media screen and (max-width: $tablet + px) {
    height: 40px;
    width: 200px;
    font-size: 18px;
    line-height: 26px;
  }

  &.white {
    background-color: $white;
    color: $killarney;
  }
}
