@import "../../utils/variables.scss";

span {
  white-space: normal !important;
  word-wrap: break-word !important;

  @media screen and (max-width: $tablet + px) {
    font-size: 24px;
    line-height: 35px;
  }

  @media screen and (max-width: 290px) {
    max-width: 280px !important;
  }

  &.main-text {
    max-width: 558px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 79px;
    color: $killarney;
    margin-bottom: 160px;
  }

  &.adaptive-main-text {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 200px;
    font-style: normal;
    color: $killarney;
    font-weight: bold;
  }

  &.article-header {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 79px;
    color: $killarney;
    margin-bottom: 60px;
    word-break: break-all;

    @media screen and (max-width: $tablet + px) {
      font-size: 30px;
      line-height: 44px;
      margin-bottom: 32px;
    }
  }

  &.article {
    width: 100% !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin-bottom: 20px;
  }

  &.description {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: $mineShaft;
  }

  &.modal-header {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 56px;
    text-align: center;

    @media screen and (max-width: $tablet + px) {
      font-size: 24px;
      line-height: 35px;
    }
  }
}
