@font-face {
  font-family: "Indie Flower";
  src: url("IndieFlower-Regular.ttf");
  src: local("Indie Flower"), local("IndieFlowerDemi"),
    url("../fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
