@font-face {
  font-family: "Indie Flower";
  src: url("IndieFlower-Regular.ttf");
  src: local("Indie Flower"), local("IndieFlowerDemi"),
    url(./IndieFlower-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("./HelveticaNowDisplay-Medium.ttf") format("truetype"),
    url("./HelveticaNowDisplay-Medium.woff") format("woff");

  font-weight: 700;
}
