@import "../../utils/variables.scss";

.admin_panel_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  margin-bottom: 338px;

  @media screen and (max-width: $order + px) {
    padding: 0 16px;
    margin-bottom: 83px;
  }

  .text {
    position: absolute;
    background: $white;
    font-family: Indie Flower;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
  }

  .filter_description {
    width: 50%;
    height: 80px;
    top: 161px;
    right: 16px;

    @media screen and (max-width: $tablet + px) {
      font-size: 25px;
      top: 163px;
    }
    @media screen and (max-width: $phone + px) {
      font-size: 15px;
      top: 137px;
      height: 50px;
    }
    @media screen and (max-width: $smallPhone + px) {
      top: 130px;
      height: 40px;
    }
  }

  .item_description {
    height: 80px;
    width: 70%;
    top: 365px;
    left: 16px;

    @media screen and (max-width: $table + px) {
      font-size: 25px;
      top: 650px;
    }
    @media screen and (max-width: $tablet + px) {
      font-size: 25px;
      top: 650px;
    }
    @media screen and (max-width: $phone + px) {
      font-size: 15px;
      top: 435px;
    }
    @media screen and (max-width: 375px) {
      top: 410px;
    }
    @media screen and (max-width: 360px) {
      top: 400px;
    }
    @media screen and (max-width: $smallPhone + px) {
      top: 370px;
    }
  }

  .chat_description {
    height: 142px;
    top: 876px;
    width: 60%;
    right: 16px;

    @media screen and (max-width: $phone + px) {
      top: 600px;
      font-size: 15px;
      height: 92px;
    }
    @media screen and (max-width: $phoneX + px) {
      top: 560px;
      font-size: 15px;
      height: 82px;
    }
    @media screen and (max-width: $smallPhone + px) {
      top: 500px;
      font-size: 15px;
    }
  }

  .pick_description {
    top: 1180px;
    width: 60%;
    left: 25px;
    height: 90px;

    @media screen and (max-width: $tablet + px) {
      top: 1175px;
      height: 120px;
    }
    @media screen and (max-width: $phone + px) {
      font-size: 15px;
      top: 780px;
      height: 62px;
    }
    @media screen and (max-width: $phoneX + px) {
      font-size: 15px;
      top: 725px;
      height: 53px;
    }
    @media screen and (max-width: 360px) {
      top: 700px;
    }
    @media screen and (max-width: $smallPhone + px) {
      font-size: 15px;
      top: 640px;
    }
    @media screen and (max-width: 280px) {
      top: 630px;
    }
  }

  .bill_description {
    top: 2340px;
    height: 95px;
    left: 50%;
    transform: translate(-50%, 50%);
    left: 50%;
    width: 75%;

    @media screen and (max-width: $phone + px) {
      font-size: 15px;
      top: 1452px;
    }
    @media screen and (max-width: $phoneX + px) {
      font-size: 15px;
      top: 1330px;
    }
    @media screen and (max-width: 360px) {
      top: 1270px;
    }
    @media screen and (max-width: $smallPhone + px) {
      font-size: 15px;
      top: 1130px;
    }
    @media screen and (max-width: 280px) {
      top: 630px;
    }
  }

  .restaurant_photo_description {
    top: 2833px;
    left: 35px;
    z-index: 1;
    transform: translate(-50%, 50%);
    left: 41%;

    @media screen and (max-width: $table + px) {
      height: 110px;
      width: 420px;
    }
    @media screen and (max-width: $phone + px) {
      top: 1875px;
      font-size: 15px;
      width: 240px;
      height: 70px;
      left: 45%;
    }
    @media screen and (max-width: $phoneX + px) {
      top: 1740px;
      font-size: 15px;
      width: 230px;
      height: 60px;
    }
    @media screen and (max-width: 360px) {
      top: 1680px;
    }
    @media screen and (max-width: $smallPhone + px) {
      top: 1535px;
      font-size: 15px;
      width: 200px;
      height: 50px;
    }
    @media screen and (max-width: 280px) {
      top: 1680px;
    }
  }

  .img {
    width: 205px;
    height: 68px;
    margin-bottom: 285px;

    @media screen and (max-width: $order + px) {
      margin-bottom: 35px;
    }
  }

  .order_filter_wrapper {
    display: flex;
    justify-content: flex-end;

    .order_filter {
      width: 50%;
      margin-right: 4px;
      margin-bottom: 35px;
    }
  }

  .order_item {
    width: 75%;
    margin: 0 10px 40px;
  }

  .order_description {
    width: 100%;
    margin: 20px 14px 83px;
  }

  .screen_wrapper {
    position: relative;
    display: flex;
    width: 1320px;

    .orders_screen {
      position: absolute;
    }
  }
}
