@import "../../utils/variables.scss";

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  transition: all 0.5s ease-out;
  opacity: 0;
  pointer-events: none;

  &.active {
    transform: scale(1);
    transition: all 0.5s ease-out;
    opacity: 1;
    pointer-events: all;
  }

  .modal_content {
    position: relative;
    max-width: 740px;
    min-height: 600px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
    transform: scale(0.5);
    transition: 0.5s;
    overflow: hidden;
    overflow-x: hidden;

    @media screen and (max-width: $tablet + px) {
      max-width: 95vw;
      padding: 8px 16px;
      height: 95vh;
      min-height: 300px;
    }
    @media screen and (max-width: $phone + px) {
      overflow-y: auto;
    }

    &.active {
      transform: scale(1);
      transition: 0.5s;
    }

    .close_button {
      position: absolute;
      z-index: 1;
      top: 30px;
      right: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:after {
        position: absolute;
        content: "+";
        top: -21px;
        font-size: 40px;
        transform: rotate(45deg);
      }
    }

    form {
      width: 100%;
      margin-top: 30px;

      @media screen and (max-width: $tablet + px) {
        margin-top: 23px;
      }

      .fields_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px 0 60px;
        padding-top: 30px;
        padding-bottom: 33px;
        border-top: 2px solid $gallery;

        @media screen and (max-width: $phone + px) {
          margin-bottom: 0px;
        }
      }
    }

    .center {
      margin: 0 auto;
    }

    .leaf {
      position: absolute;
      top: -100px;
      left: -90px;
      z-index: -1;
      width: 388px;
    }

    .bamboo {
      position: absolute;
      bottom: -50px;
      right: -110px;
      z-index: -1;
      width: 366px;
    }
  }
}
