@import "../../utils/variables.scss";

.title_block {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $heading + px) {
    width: 100%;
    align-items: center;
  }

  .title {
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 94px;
    margin-bottom: 30px;

    &.center {
      text-align: center;
    }

    @media screen and (max-width: $heading + px) {
      margin-bottom: 16px;
    }
  }

  .description {
    color: $mineShaft;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;

    &.center {
      text-align: center;
    }

    @media screen and (max-width: $mobile + px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: $heading + px) {
      text-align: center;
    }
  }
}
