@import "../../utils/variables.scss";

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  img {
    position: absolute;
    object-fit: cover;

    &.logo {
      position: fixed;
      z-index: 899;
      top: 35px;
      left: 120px;
      width: 120px;
      height: 33px;
      cursor: pointer;

      @media screen and (max-width: $tablet + px) {
        position: absolute;
        top: 24px;
        left: 16px;
        width: 80px;
        height: 22px;
      }
    }

    &.head_phone {
      position: static;
      width: 550px;
      height: 553px;
      margin-top: 192px;
      margin-left: 0px;

      @media screen and (max-width: $tablet + px) {
        position: absolute;
        top: 183px;
        right: -139px;
        z-index: -1;
        margin-left: 0;
        opacity: 0.6;
        width: 290px;
        height: auto;
      }

      @media screen and (max-width: 1442px) {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }

  .background_header {
    position: absolute;
    top: -34px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 734px;
    background: linear-gradient(
      180deg,
      #b3e3c9 0%,
      rgba(214, 214, 214, 0) 100%
    );

    @media screen and (max-width: $tablet + px) {
      background: none;
    }
  }

  .gradient_fixed {
    position: fixed;
    left: 0;
    z-index: 898;
    width: 100%;
    height: 104px;
    background: linear-gradient(
      180deg,
      #b3e3c9 0%,
      rgba(214, 214, 214, 0) 100%
    );

    @media screen and (max-width: $tablet + px) {
      background: none;
    }
  }

  .header_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 192px 120px 0 0;
    font-family: "Helvetica Now Display";

    @media screen and (max-width: $tablet + px) {
      padding: 73px 16px 0;
    }

    .button_wrapper {
      top: 30px;
      right: calc(90% - 450px);

      @media screen and (max-width: $tablet + px) {
        display: flex;
        justify-content: center;
      }

      &.animation {
        transition: all 1s ease-in-out;
        position: fixed;
        top: 30px;
        right: 80px;
        z-index: 899;
      }
    }

    .header_title {
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      color: $killarney;
      margin-bottom: 60px;
      font-family: "Helvetica Now Display";

      @media screen and (max-width: $tablet + px) {
        width: 120px;
        margin-bottom: 146px;

        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}
