.header {
  display: flex;
  flex-wrap: wrap;
  img {
    position: absolute;
    object-fit: cover;

    &.logo {
      top: 35px;
      left: 120px;
      width: 120px;
      height: 33px;
      position: fixed;
      cursor: pointer;
    }

    &.head-phone {
      position: static;
      width: 550px;
      height: 553px;
      margin-top: 192px;
      margin-left: 92px;
    }
  }

  .background_header {
    position: absolute;
    top: -34px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 734px;
    background: linear-gradient(
      180deg,
      #b3e3c9 0%,
      rgba(214, 214, 214, 0) 100%
    );
  }

  .gradient_fixed {
    position: fixed;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 104px;
    background: linear-gradient(
      180deg,
      #b3e3c9 0%,
      rgba(214, 214, 214, 0) 100%
    );
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    padding: 192px 0 0 120px;
  }
}
