// colors
$killarney: #35644a;
$mineShaft: #333333;
$white: #ffffff;
$black: #000000;
$fringyFlower: #b3e3c9;
$gallery: #eaeaea;
$broom: #f9fe17;
$doveGray: #626262;

// dimensions
$mobile: 1250;
$tablet: 768;
$heading: 1540;
$management: 1015;
$order: 1330;
$table: 1156;
$phone: 420;
$phoneX: 380;
$smallPhone: 335;
