@import "../../utils/variables.scss";

.payment_options {
  padding: 0 156px 0 159px;
  margin-top: 213px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $table + px) {
    width: 100%;
    margin-top: 80px;
    padding: 0 16px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
