@import "../../utils/variables.scss";

.footer {
  width: 100%;
  height: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $killarney;
  margin-top: 110px;

  @media screen and (max-width: $tablet + px) {
    height: 320px;
  }

  .footer_nav {
    max-width: 1440px;
    width: 100%;
    padding: 0 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $tablet + px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 16px;
    }

    .link {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      color: $white;
      cursor: pointer;

      @media screen and (max-width: $tablet + px) {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        &:last-of-type {
          margin-bottom: 15px;
        }
      }

      &.email {
        text-decoration: underline;
        margin-bottom: 32px;
      }
    }

    .footer_button {
      align-self: center;
    }

    .white_logo {
      cursor: pointer;

      @media screen and (max-width: $tablet + px) {
        height: 19px;
        margin-bottom: 29px;
      }
    }
  }
}
