.equally_animation {
  position: relative;

  > img {
    position: absolute;

    &.phone {
      position: static;
    }
  }

  .equally {
    top: 110px;
    left: -90px;
    &.animation {
      top: 140px;
      left: -50px;
    }
  }
}
