.article_wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 120px;

  .logo {
    width: 120px;
    height: 64px;
    margin-bottom: 68px;
  }
}

.list_title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

li {
  margin-bottom: 10px;
}
