@import "../../utils/variables.scss";

.article_wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 120px;

  @media screen and (max-width: $tablet + px) {
    padding: 28px 16px;
  }

  .logo {
    width: 120px;
    height: 64px;
    margin-bottom: 68px;

    @media screen and (max-width: $tablet + px) {
      margin-bottom: 49px;
    }

    @media screen and (max-width: $phone + px) {
      width: 80px;
      height: 22px;
    }
  }
}

.list_title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

li {
  margin-bottom: 10px;
}
