.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > img {
    position: absolute;
    object-fit: cover;
    z-index: -1;

    &.leaf1 {
      width: 461px;
      height: 461px;
      opacity: 0.5;
    }

    &.leaf2 {
      width: 434px;
      height: 431px;
      right: -70px;
      top: -90px;
      transform: rotate(90deg);
    }

    &.leaf3 {
      width: 388px;
      height: 388px;
      top: 687px;
      left: -100px;
    }

    &.leaf4 {
      width: 581px;
      height: 581px;
      top: 460px;
      right: -150px;
    }

    &.leaf5 {
      width: 624px;
      height: 624px;
      top: 1127px;
      left: 218px;
    }

    &.leaf6 {
      width: 390px;
      height: 390px;
      top: 1887px;
      left: 180px;
    }

    &.leaf7 {
      width: 780px;
      height: 780px;
      top: 2450px;
      right: -500px;
    }

    .leaf8 {
      width: 805px;
      height: 1000px;
    }

    &.bamboo1 {
      width: 610px;
      height: 610px;
      top: 1450px;
      right: -290px;
    }

    &.bamboo2 {
      width: 841px;
      height: 841px;
      top: 2580px;
      left: -190px;
    }

    &.bamboo3 {
      width: 841px;
      height: 841px;
      top: 2580px;
      left: -190px;
    }
  }
}
