@import "../../utils/variables.scss";

.background {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: $phone + px) {
    padding: 0;
  }

  > img {
    position: absolute;
    object-fit: cover;
    z-index: -1;

    &.leaf1 {
      width: 461px;
      height: 461px;
      opacity: 0.5;

      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf2 {
      width: 434px;
      height: 431px;
      right: -70px;
      top: -90px;
      transform: rotate(90deg);

      @media screen and (max-width: $heading + px) {
        transform: rotate(0deg);
        top: 70px;
        left: -135px;
      }
    }

    &.leaf3 {
      width: 388px;
      height: 388px;
      top: 687px;
      left: -100px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf4 {
      width: 581px;
      height: 581px;
      top: 460px;
      right: -150px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf5 {
      width: 624px;
      height: 624px;
      top: 1127px;
      left: 218px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf6 {
      width: 390px;
      height: 390px;
      top: 1887px;
      left: 180px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf7 {
      width: 780px;
      height: 780px;
      top: 2450px;
      right: -500px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf8 {
      width: 624px;
      height: 624px;
      top: 3820px;
      left: 320px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.leaf9 {
      width: 430px;
      top: 3650px;
      right: -260px;
      transform: rotate(90deg);
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.bamboo1 {
      width: 610px;
      height: 610px;
      top: 1450px;
      right: -290px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.bamboo2 {
      width: 841px;
      height: 841px;
      top: 2580px;
      left: -190px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }

    &.bamboo3 {
      width: 841px;
      height: 841px;
      top: 5250px;
      right: -290px;
      @media screen and (max-width: $heading + px) {
        display: none;
      }
    }
  }
}
